<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="landing-content" class="col-lg-9">
        <h3><b>Welcome,</b></h3>
        <p>
          An Open Source clone of Twitter using Ruby on Rails. This is not an exact copy of Twitter but has a similar functionality. This is to demonstrate how easy is it develop to a Social networking app using Ruby on Rails.
        </p>
        <p>
          Open Your Account On Twitter <%= link_to "Start", new_user_registration_path %>
        </p>
      </div>
    </div>
  </div>
</div>
